# Python
__pycache__/
*.py[cod]
*$py.class
venv/
Backend/venv/
**/venv/
**/__pycache__/
ENV/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# OS
.DS_Store
Thumbs.db
